In [2]:
import pandas as pd

all_data1 = pd.read_csv('sales所在周次节假日.csv')
all_data2 = pd.read_csv('sales所在周次节假日_剔除换货.csv')
all_data3 = pd.read_csv('sales所在周次节假日_剔除换货负销量.csv')
all_data1.head()

     店铺名称  地理位置指数     年份  周次  是否包含法定节假日  季节  大类  销量      均价        促销
0  深圳前进天虹       7  2,015   1          1  冬季  中靴   2     599  0.374818
1  深圳前进天虹       7  2,015   1          1  冬季  低靴  29  506.66  0.367592
2  深圳前进天虹       7  2,015   1          1  冬季  长靴   2  683.83  0.325790
3  深圳前进天虹       7  2,015   1          1  冬季  高靴   2     800  0.400000
4  深圳前进天虹       7  2,015   1          1  春季  浅口   1   375.6  0.400000

In [7]:
all_data2.describe()

,地理位置指数,年份,周次,是否包含法定节假日,销量(剔除换货）,均价（剔除换货）,促销（剔除换货）
count,18163.000000,18163.000000,18163.000000,18163.000000,18163.000000,18163.000000,18163.000000
mean,5.501569,2015.552992,27.652701,0.185432,7.880031,399.822747,0.364135
std,2.597241,0.497198,15.181708,0.388658,16.436671,142.264912,0.089089
min,1.000000,2015.000000,1.000000,0.000000,1.000000,30.000000,0.032120
25%,7.000000,2015.000000,14.000000,0.000000,2.000000,307.981075,0.305955
50%,7.000000,2016.000000,28.000000,0.000000,4.000000,382.500000,0.368088
75%,7.000000,2016.000000,40.000000,0.000000,9.000000,459.225000,0.420665
max,7.000000,2016.000000,53.000000,1.000000,912.000000,1699.000000,0.902023

In [8]:
a1 = all_data2.loc[lambda all_data2 : all_data2['店铺名称'] =='深圳前进天虹']
a1.describe()

,地理位置指数,年份,周次,是否包含法定节假日,销量(剔除换货）,均价（剔除换货）,促销（剔除换货）
count,681.0,681.000000,681.000000,681.000000,681.000000,681.000000,681.000000
mean,7.0,2015.547724,27.389134,0.187959,6.920705,411.120174,0.374900
std,0.0,0.498083,15.182414,0.390966,10.459285,141.208328,0.082134
min,7.0,2015.000000,1.000000,0.000000,1.000000,89.000000,0.106079
25%,7.0,2015.000000,14.000000,0.000000,2.000000,313.600000,0.318283
50%,7.0,2016.000000,28.000000,0.000000,4.000000,391.800000,0.376104
75%,7.0,2016.000000,40.000000,0.000000,8.000000,469.000000,0.432738
max,7.0,2016.000000,53.000000,1.000000,91.000000,950.000000,0.679680

In [13]:
a15 = all_data2.loc[lambda all_data2 : all_data2['年份'] == 2015]
a15.describe()

,地理位置指数,年份,周次,是否包含法定节假日,销量(剔除换货）,均价（剔除换货）,促销（剔除换货）
count,8119.000000,8119.0,8119.000000,8119.000000,8119.000000,8119.000000,8119.000000
mean,5.515334,2015.0,27.328735,0.151989,8.349427,398.729219,0.366774
std,2.589322,0.0,15.248454,0.359032,20.304663,150.724052,0.087871
min,1.000000,2015.0,1.000000,0.000000,1.000000,52.368400,0.065542
25%,7.000000,2015.0,14.000000,0.000000,2.000000,299.000000,0.304875
50%,7.000000,2015.0,28.000000,0.000000,4.000000,374.166667,0.371429
75%,7.000000,2015.0,40.000000,0.000000,9.000000,459.633333,0.423320
max,7.000000,2015.0,53.000000,1.000000,912.000000,1359.000000,0.899909